body {
	background-image: url('basin-logo.png');
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px;
	margin: 0px;
}

footer {
	padding: 2.5%;
	font-size: 33;
	text-align: center;
}

footer > p > a {
	border-bottom: 1px dashed #CCCCCC;
}

footer > p > a:hover {
	border-bottom: 1px solid #007FFF;
}

cite {
	font-style: normal;
	font-size: 50%;
	color: #CCCCCC;
	display: block;
}

#livefilter-list {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

tr, td, tbody, thead, table {
	padding: 0px;
	margin: 0px;
}

td {
	padding: 5px;
}

em {
	background: #f1da36; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #f1da36 0%, #ffffff 50%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 50%, color-stop(0%,#f1da36), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #f1da36 0%, #ffffff 50%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #f1da36 0%,#ffffff 50%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #f1da36 0%,#ffffff 50%); /* IE10+ */
	background: radial-gradient(ellipse at center, #f1da36 0%,#ffffff 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

em {
	font-size: 200%;
	font-family: 'Just Me Again Down Here', cursive;
}

tr:hover > td:nth-child(2), tr:hover > td:nth-child(2) > cite {
	color: #000000;
	background-color: #F5F5F5;
	border-radius: 20px;
}

td:first-child, td:last-child {
	background: #FFFFFF;
}

body {
	font-family: 'Quando', serif;
	color: #000000;
}

h1 {
	width: 555px;
	height: 140px;
	background-image: url('basin-name.png');
	backgroun-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	margin-top: 2.5%;
}

h1 > p, h1 > a {
	display: none;
}

.cover {
	background-size: 200%;
	background-position: center center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	border: 1px solid transparent;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #CCCCCC;
}

#avatar {
	background-size: 200%;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 20px;
	border: 1px solid #000000;
	box-shadow: 4px 4px 8px #CCCCCC;
	width: 100px;
	height: 100px;
}

th {
	text-align: left;
}

a, a:visited {
	text-decoration: none;
	color: #000000;
}

nav, header {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 85%;
}

tr:hover > td:nth-child(1) > div {
	border: 1px solid black;
}
